
* {
  font-family: "Sora", sans-serif;
  scrollbar-width:thin;
}


#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}
img{
  vertical-align:middle;
}
.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: calc(4px / 2);
  background: #e83144;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}

/***** Spin Animation *****/

.bar--top {
  bottom: calc(50% + 11px + 4px/ 2);
  transition-property: bottom,transform;
  transition-delay: calc(0s + 0.35s),0s;
}

.bar--middle {
  top: calc(50% - 4px/ 2);
  transition-property: opacity;
  transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
  top: calc(50% + 11px + 4px/ 2);
  transition-property: top,transform;
  transition-delay: calc(0s + 0.35s),0s;
}

#checkbox:checked + .toggle .bar--top {
  bottom: calc(50% - 4px/ 2);
  transform: rotate(135deg);
  transition-delay: 0s,calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
  transition-duration: 0s;
  transition-delay: calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 4px/ 2);
  transform: rotate(225deg);
  transition-delay: 0s,calc(0s + 0.35s);
}





nav {
  background-color: white;
}
.bg-personal{
  background-color: #e83144 !important;
}
.text-personal{
  color: #e83144 !important;
}
.text-download:hover{
  transition: 0.3s ease;
  color: white !important;
}
.nav-link{
  padding:20px 10px;
  font-size:20px;
  font-weight: 500;
  
}
.nav-item{
  cursor: pointer !important;
  margin:0 10px;
  height:100% !important; 
}
.nav-link:hover{
  color:#e83144 !important;
}
nav img {
  max-height: 55px;
  margin:  0 0 0 20rem;

}
.brand-img{
display: flex !important;
justify-content: center !important;
align-items: center;
}
.navbar-toggler{
  color:White;
}
#navbarSupportedContent{
  margin-left:100px;
}

.cv-download {
  padding: 3px 20px;
  margin:10px 0;
  color: #e83144;
  text-align:center;
  border: 2px solid #e83144;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  transition:ease 0.3s;

}
.cv-download:hover {
  background-color: #e83144;
  color: white;
  border: 2px solid #e83144;
  transition:ease 0.3s;
}


.display-flex{
  display: flex !important;
}
.alert>div>span {
  font-size:20px;
  font-weight: 900;
  color:#e83144;
  float:right;
  cursor:pointer;
  margin:-3px 12px;
  float:right;
  
}
  .attention-cv {
      position:fixed;
      top: 80%;
      width:100%;
      left: 0px;
      transform: translate(-100%);
      transition:ease 0.3s;
      
    }




#mainContact{
  margin-top:100px;
}

.title-content{
  font-weight: 900;
  margin:5px auto 15px auto !important;
  font-size:60px;
  width:fit-content;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  background-image: linear-gradient(to right,#e83144,black) !important;
  
  }

  .submit-done{
  text-align:center;
  margin:230px auto;
  }
  .submit-done > i{
  font-size: xx-large;
  color:rgb(39, 151, 39);
  }
  .content-submit-done{
  font-size:40px;
  color:black;
  }
  .submit-done > a{
  font-size:20px;
  color:rgb(99, 99, 99);
  
  }


form {
    font-size:larger;
    padding: 15px;
    border: 1px solid #e83144;
    border-radius: 10px;
    margin:50px auto 0 auto!important;
    background-color:white;
}
form::before{
  content:'';
  width:1px;
  height:1px;
  border-radius:10px;
  background-color: #e83144;
  position: absolute;
  top:190px;
  right:78vh;
  z-index: -1;
  box-shadow:0 0 75px 25px #e83144;
}
#form-input{
    height:120px;
    text-align:unset!important;
}

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }



  input[type=submit]{
    padding:0.5em 4em;
    background-color:#e83144;
    border:none;
    border-radius: 30em;
    color:white;
    margin:0 0 20px 0 !important;
    cursor:pointer !important;
    transition:ease 0.5s;

  }
  input[type=submit]:hover{
    transform:scale(0.95);
    transition:ease 0.5s;
  }
  input[type=submit]:focus{
    border:1px solid #e83144;
  }

.input {
    margin: 1em 0 ;
    position: relative;
  }
  
  .input input,textarea {
    font-size: 20px;
    padding:10px 15px;
    outline: none;
    border-radius: 10px;
    width: 100%;
    border:1px solid #e83144;
  }
  
  .input label {
    font-size: 18px;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color:#a3a3a3;
  }
  
  .input :is(input:focus,textarea:focus, textarea:valid, input:valid)~label {
    transform: translateY(-50%) scale(.8);
    margin: 0em;
    margin-left: 0.2em;
    padding: 0.4em;
    background-color:white;
    color:#2E2723;
 
  }
input:focus,textarea:focus{
    border:2px solid #1E90FF;
}
.title-form{
    font-size:30px;
    width:fit-content;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;

}
main::before{
  content:'';
  width:1px;
  height:1px;
  border-radius:10px;
  background-color: #e83144;
  position: absolute;
  top:500px;
  left:70vh;
  z-index: -1;
  box-shadow:0 0 500px 76px #e83144;
}
  section{
width:50vh;
margin:120px auto !important;

font-weight: 900;
font-family: 'Archivo Black', sans-serif ; 
  }
  .content{
color:rgb(167, 167, 167);
margin:30px 0;
  }
  .mail{
background-color:rgb(233, 231, 231);
height:100px;
width:80%;
border-radius: 6px;
box-shadow: #c0c0c0 0px 0px 10px 3px;;
display: flex;
justify-content: center;
align-items: center;
font-size:larger;
  }
  .mail > i{
    padding:20px;
    background-image:linear-gradient(to bottom right,#2E2723,#e83144);
    color:white;
    border-radius: 5px;
    font-size:x-large;
    margin:0 10px;
  }


  footer{

    display: flex;
    background-color: white;
    justify-content: space-between !important;
}

.social-media{
margin:50px 50px 0 50px !important;
  height:fit-content;
}
.footer-box {
    font-size: 30px;
    cursor: pointer;
    color: #2E2723;
    margin: 0 20px;
    transition: ease 0.3s;
}

.footer-box:hover {
    color: #e83144;
}
.copyright{
  margin:50px  50px 0 50px!important;
  height:fit-content;
    color:gray;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.copyright a {
    cursor:pointer;
    color:#e83143c2;
    text-decoration: underline;
}
      
      
  
  
  
@media only screen and (max-width: 1023px) {
  #navbarSupportedContent{
    margin-left:0px;
  }
.display-flex{
    display: block !important;
}

.alert>div>span {
    font-size:25px;
    font-weight: 900;
    margin-top:5px;
}

.nav-link{
    padding:10px;
    font-size:25px;
    margin:0px 10px;
}

nav img{
    margin-left:30px;
}
.navbar-toggler{
    border:none !important;
    font-size:30px;
    
}
.cv-download{
    width:90%;
    font-size: 25px;
    margin:10px 20px 20px 20px;
}
footer{
    height: fit-content;
    bottom:-100px;
}

    main{
      display: block;
      justify-content: center;
      align-items: center;
  
  }
    section{
  width:fit-content;
  margin:0 auto;
  margin-top:0px;
    }

.mail{
  width:fit-content;
  padding:0px 10px;
}
    input[type=submit],input[type=reset]{
      width:48%
    }
}
