* {
    font-family: 'Archivo Black', sans-serif; 
}

body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='900' preserveAspectRatio='none' viewBox='0 0 1920 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1167%26quot%3b)' fill='none'%3e%3cpath d='M432.12 965.69C679.68 930.31 769.36 377.18 1219.03 348.1 1668.7 319.02 1798.7 90.47 2005.94 87.1' stroke='rgba(232%2c 49%2c 68%2c 0.27)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1037.34 1076.95C1251.32 1010.18 1307.96 402.98 1619.9 395.37 1931.84 387.76 2045.57 625.05 2202.46 629.37' stroke='rgba(232%2c 49%2c 68%2c 0.27)' stroke-width='2'%3e%3c/path%3e%3cpath d='M915.16 1009.38C1109.5 970.58 1198.55 474.04 1498.07 472.16 1797.59 470.28 1921.42 727.29 2080.98 733.16' stroke='rgba(232%2c 49%2c 68%2c 0.27)' stroke-width='2'%3e%3c/path%3e%3cpath d='M719.38 953.02C945.66 924.78 1033.82 438.72 1453.37 411.5 1872.92 384.28 1991.11 137.15 2187.36 132.5' stroke='rgba(232%2c 49%2c 68%2c 0.27)' stroke-width='2'%3e%3c/path%3e%3cpath d='M144.45 1058.71C418.8 1035.01 566.06 491.33 1076.87 472.34 1587.67 453.35 1767.82 222.55 2009.28 220.34' stroke='rgba(232%2c 49%2c 68%2c 0.27)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1167'%3e%3crect width='1920' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
nav {
    height: 100px;
    text-transform: uppercase;
    background-color:white;
}

.link-navbar {
    color: #2E2723;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    margin: 20px;
    transition:ease 0.3s;
    padding:3px 20px;
    border-radius:10px;
}

.link-navbar:hover {
    transition:ease 0.25s;
    background-color: #e83144;
    color:white;
}

nav img {
    max-height: 55px;
    margin: 1.5rem 0 0 5rem;
}
.cv-download {
    margin-left:50px;
    padding: 5px 20px;
    color: #e83144;
    border: 2px solid #e83144;
    border-radius: 10px;
    font-weight: bolder;
    background-color: white;
    text-decoration: none;
}

.cv-download:hover {
    background-color: #e83144;
    color: white;
    border: 2px solid #e83144;
}
#navbarNav{
    margin-left:300px;
}

form {
    font-size:larger;
    padding: 15px;
    border: 1px solid #e83144;
    border-radius: 10px;
    margin:50px auto 10px auto;
    background-color:white;
}
#form-input{
    height:120px;
    text-align:unset!important;
}

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }



  input[type=submit],input[type=reset]{
    width:49.2%;
    background-color:#e83144;
    border:none;
    color:white;
    margin:0 auto 20px auto !important;
    height:50px;
    cursor:pointer !important;
    transition:ease 0.5s;
    text-transform:uppercase;
  }
  input[type=submit]:hover,input[type=reset]:hover{
    transform:scale(0.95);
    transition:ease 0.5s;
  }


.input {
    margin: 1em 0 ;
    position: relative;
  }
  
  .input input,textarea {
    font-size: 20px;
    padding:10px 15px;
    outline: none;
    border-radius: 10px;
    width: 100%;
    border:1px solid #e83144;
  }
  
  .input label {
    font-size: 18px;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color:#a3a3a3;
  }
  
  .input :is(input:focus,textarea:focus, textarea:valid, input:valid)~label {
    transform: translateY(-50%) scale(.8);
    margin: 0em;
    margin-left: 0.2em;
    padding: 0.4em;
    background-color:white;
    color:#2E2723;
 
  }
input:focus,textarea:focus{
    border:2px solid blue;
}
.title-form{
    font-size:35px;
    width:fit-content;
    margin:5px auto 26px auto;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;

}
  section{
width:50vh;
margin:0 auto;
margin-top:-100px;
  }
  .title-content{
font-size:60px;

  }
  .content{
color:rgb(167, 167, 167);
margin:30px 0;
  }
  .mail{
background-color:rgb(233, 231, 231);
height:100px;
width:80%;
border-radius: 6px;
box-shadow: #c0c0c0 0px 0px 10px 3px;;
display: flex;
justify-content: center;
align-items: center;
font-size:larger;
  }
  .mail > i{
    padding:20px;
    background-image:linear-gradient(to bottom right,#2E2723,#e83144);
    color:white;
    border-radius: 5px;
    font-size:x-large;
    margin:0 10px;
  }










footer {
    background-color:white;
    height: 100px;
    margin-top:2rem !important;
}
.social-media{
    margin-right:2.5em;
}
.container-media-copy{ 
display:flex;
justify-content: space-between;
align-items: center;
}

.footer-box {
    font-size: 30px;
    cursor: pointer;
    color: #2E2723;
    margin: 0 20px;
    transition: ease 0.3s;
}

.footer-box:hover {
    color: #e83144;
}
.copyright{
    margin-left:50px;
    color:gray;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.copyright a {
    cursor:pointer;
    color:#e83143c2;
    text-decoration: underline;
}

@media only screen and (max-width: 1023px) {
    #navbarNav {
        background-color: #ffffff;
        border-bottom: 4px solid #e83144;
        margin-left: 0;
    }

    main{
      display: block;
      justify-content: center;
      align-items: center;
  
  }
    section{
  width:fit-content;
  margin:0 auto;
  margin-top:0px;
    }
    nav img {
        margin-left: 30px;
    }

.mail{
  width:fit-content;
  padding:0px 10px;
}
    .cv-download {
        margin: 30px;
    }

    input[type=submit],input[type=reset]{
      width:48%
    }
}
