 *{
    font-family: "Sora", sans-serif;
    scrollbar-width:thin;

 }
body{
  position: relative;
}
#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
  }
  img{
    vertical-align:middle;
  }
  .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #e83144;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
  }
  
  /***** Spin Animation *****/
  
  .bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s),0s;
  }
  
  .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
  }
  
  .bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: calc(0s + 0.35s),0s;
  }
  
  #checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s,calc(0s + 0.35s);
  }
  
  #checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
  }
  
  #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s,calc(0s + 0.35s);
  }





nav {
    background-color: white;
}
.bg-personal{
    background-color: #e83144 !important;
}
.text-personal{
    color: #e83144 !important;
}
.text-download:hover{
    transition: 0.3s ease;
    color: white !important;
}
.nav-link{
    padding:20px 10px;
    font-size:20px;
    font-weight: 500;
    
}
.nav-item{
    cursor: pointer !important;
    margin:0 10px;
    height:100% !important; 
}
.nav-link:hover{
    color:#e83144 !important;
}
nav img {
    max-height: 55px;
    margin:  0 0 0 20rem;

}
.brand-img{
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}
.navbar-toggler{
    color:White;
}
#navbarSupportedContent{
    margin-left:100px;
}

.cv-download {
    padding: 3px 20px;
    margin:10px 0;
    color: #e83144;
    text-align:center;
    border: 2px solid #e83144;
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
    transition:ease 0.3s;

}
.cv-download:hover {
    background-color: #e83144;
    color: white;
    border: 2px solid #e83144;
    transition:ease 0.3s;
}


.display-flex{
    display: flex !important;
}
.alert>div>span {
    font-size:20px;
    font-weight: 900;
    color:#e83144;
    float:right;
    cursor:pointer;
    margin:-3px 12px;
    float:right;
    
}
    .attention-cv {
        position:fixed;
        top: 80%;
        width:100%;
        left: 0px;
        transform: translate(-100%);
        transition:ease 0.3s;
        
      }

.main-container{
    margin:200px auto !important;
    display:flex;
    justify-content: center;

}
.main-container::before{
    content:'';
    z-index: -1;
    top:400px;
    left:300px;
    background-color: transparent;
    border-radius: 50em;
    box-shadow: 0px 0px 550px 80px #e83144;
    position: absolute;
}
    h3 > b{
    color:#e83144
}
.typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid #333;
    white-space: nowrap;
    margin: 0;
height:65px;
font-weight: 900;
    font-size:52px;
    animation:  blink-caret 0.75s step-end infinite;
  }

  .article{
    margin-top:100px;
  }
  .article > h3{
    font-size:32px;
  }
  .article > p{
    font-size:23px;
  }
  .downloadcv-button{
padding:15px 60px;
border-radius:30em;
border:2px solid #e83144;
background-color: transparent;
color:#e83144;
transition: ease 0.3s;
  }
  .downloadcv-button:hover{
    transition: ease 0.3s;
    background-color: #e83144;
    color: white;
  }
.main-image{
height:500px;
border-radius:50px;
transform: rotate(5deg);
transition: ease 0.3s;
border:3px solid white;
}
.main-image:hover{
    transform:rotate(0deg);
    border-color:#333;
    transition: ease 0.3s;

}



.project-container{
    background-color: #f8e7e9;

}
.sub-title{
    width:fit-content;
    background-color:#e83144;
    padding:0 15px;
    margin:30px auto 0px auto!important;
}
.title{
font-weight: 600;
margin:5px auto 15px auto !important;
font-size:60px;
width:fit-content;
position: relative;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent !important;
background-image: linear-gradient(to right,#e83144,black) !important;

}
.under-title-projects{
    width:600px;
    text-align: center;
margin:10px auto 60px auto !important;
}
.projects{
 
display: grid;
grid-template-columns: repeat(3,399.5px);
grid-gap: 25px;
margin:20px auto 75px auto!important;
}
.project-card{
  border-radius: 10px;
  padding:20px;
  background-color: #202424 !important;
  
}
.title-project{
width:fit-content;
margin-left:15px;
color:white;
position: relative;
font-size:26px;
}
.img-project{
height:200px;
margin:auto auto !important;
 
}
.title-project::before{
  content: '';
  background-color: white;
  height:7px;
  position: absolute;
  border-radius:100px;
  width:7px;
  top:12px;
  left:-15px;

}
.content-box{
margin:30px 0 10px 0;
display: flex !important;
justify-content: space-between;
align-items: center;
}

.button-project-view,.live-preview{
background-color: transparent !important;
color:white;
padding: 1em 2em;
border:1px solid gray;
border-radius:1000px;
transition: ease 0.35s;
}

.button-project-view:hover,.live-preview:hover{
  background-color:#e83144 !important;
  color:black;
  border-color:black;
  transition: ease 0.35s;

}


.skills-container{
  height:75vh !important;

  position: relative;
}
.skills-container::before{
    content:'';
    z-index: -1;
    top:350px;
    right:600px;
    background-color: transparent;
    border-radius: 50em;
    box-shadow: 0px 0px 550px 80px #e83144;
    position: absolute;

}
.skills{
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin:10em auto !important;
  gap:75px;
}

.skill-minicontainer{
  background-color: #e83143c2;
  padding:30px;
  filter:grayscale(100%);
  border-radius: 10px;
  transition: 0.5s ease;
}
.skill-minicontainer:hover{
  transition: 0.5s ease;
  filter:grayscale(0%);
  
}

.skill-minicontainer > img{
  height:100px;
  color:white;
}
.skill-percentage{
  margin:20px auto 0 auto !important;
  color:white;
  font-size: 20px;
  width: fit-content;

}
.skill-card > figcaption {
  font-size:25px;
  width: fit-content;
  margin:30px auto 0 auto !important;
  color:#e83144
}


.education-container{
  background-color: #f8e7e9;
  height:125vh;
}
.temporary-education{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:25em;
}
.container-education{

}
.education-point{
margin:50px auto!important;
background-color: #ad454f;
color:white;
padding:1em 2em;
border-radius:5px;
}
.education-title{
font-size:25px;
}
.education-place{

}




.d-block{
  display: block;
}


.container-project-card{
overflow-y: scroll !important;
background-color: rgba(0,0,0,0.7);
z-index: 1024;
animation: fadeIn 0.5s;
position: fixed; /* or absolute, depending on your needs */
max-height: 100vh; 
overflow-y: scroll;
display: none;
}

.project-list{
  overflow:auto !important;
  background-color: white;
  margin: 5vh auto !important
}
.close-btn{
  font-size:30px;
  font-weight: 600;
  float: right;
  border:none;
  background-color: white;

}
.title-project-card{
  font-size: 70px;
  font-weight: 900;
  background-image: linear-gradient(to left,#e83144 , black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;


}

.content-project-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:30px 0 !important;
}

.category{
  color:#3333338e;
  font-weight: 600;
}
.content-project-cat{
font-size:20px;
}

.live-preview{
  text-decoration: none;
  color:black;
  font-size:20px;
  
}
.live-preview:hover{
  color:white;
}
.description-title{
  font-size:55px;
  
}
.footer-project-card{
  background-color:#f8e7e9;
padding:30px;
text-align:center;
}
.footer-title-project-card{
font-size:50px;
}
.contact-project-card{
font-size:23px;
color:black;
}

.footer-project-card> p{
  margin:20px 0;
  font-size:23px;
}






.project-info {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


























  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #333;
    }
  }















footer{
    display: flex;
    background-color: white;
    justify-content: space-between !important;
}


.footer-box {
    font-size: 30px;
    cursor: pointer;
    color: #2E2723;
    margin: 0 20px;
    transition: ease 0.3s;
    height:fit-content;
}
.social-media{
  height:fit-content;

}
.footer-box:hover {
    color: #e83144;
}
.copyright{
    color:gray;
    height:fit-content;
    font-weight: 100;
}
.copyright a {
    cursor:pointer;
    color:#e83143c2;
    text-decoration: underline;
}
      




@media only screen and (max-width: 1023px) {
    #navbarSupportedContent{
        margin-left:0px;
      }
    .display-flex{
        display: block !important;
    }

    .alert>div>span {
        font-size:25px;
        font-weight: 900;
        margin-top:5px;
    }

    .nav-link{
        padding:10px;
        font-size:25px;
        margin:0px 10px;
    }

    nav img{
        margin-left:30px;
    }
    .navbar-toggler{
        border:none !important;
        font-size:30px;
        
    }
    .cv-download{
        width:90%;
        font-size: 25px;
        margin:10px 20px 20px 20px;
    }
    footer{
        height: fit-content;
        bottom:-100px;
    }

}














































